@font-face {
    font-family: 'Ostrich Sans';
    src: url('OstrichSans-Heavy.eot');
    src: url('OstrichSans-Heavy.eot?#iefix') format('embedded-opentype'),
        url('OstrichSans-Heavy.woff2') format('woff2'),
        url('OstrichSans-Heavy.woff') format('woff'),
        url('OstrichSans-Heavy.ttf') format('truetype'),
        url('OstrichSans-Heavy.svg#OstrichSans-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

