body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.title {
    width: 100%;
    margin: 0;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 5000px) {

    body {
        background-color: blue;
    }

    .title--portrait {
        display: none;
    }
}

@media (max-width: 768px) {

    body {
        background-color: green;
    }

    .title--landscape {
        display: none;
    }

    .title--portrait {
        display: block;
    }
}